{% extends 'asp_base.html' %} {% block profile %}

<div class="admin-profile">

    <div class="card text-center">
      <div class="card-header">
              <h1>Logged in as ASP : {{id}} - {{name}}</h1>
      </div>
      <div class="card-body">
        <p class="card-text">Your attitude, not your aptitude, will determine your altitude.</p>
        <a href="#" class="btn btn-outline-success" role="button" data-bs-toggle="button">Edit Profile</a>
        <a href="/asp_logout" class="btn btn-outline-danger" role="button" data-bs-toggle="button">Log Out</a>
      </div>
    </div>
</div>

{% endblock %}


{% block operations %}

<div>


<br> <br>

    <center>
        <h1>Update Profile</h1>
    </center>


    <div class="admin-actions">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            <form action="/commit_asp_update " method="POST">
            <div class="form-group row">
                <label for="name" class="col-4 col-form-label">NAME:</label> 
                <div class="col-8">
                <input id="name" name="name" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="owner" class="col-4 col-form-label">OWNER:</label> 
                <div class="col-8">
                <input id="owner" name="owner" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="location" class="col-4 col-form-label">LOCATION:</label> 
                <div class="col-8">
                <input id="location" name="location" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-4 col-form-label">ADDRESS:</label> 
                <div class="col-8">
                <input id="address" name="address" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">EMAIL:</label> 
                <div class="col-8">
                <input id="email" name="email" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-4 col-form-label">PASSWORD:</label> 
                <div class="col-8">
                <input id="password" name="password" type="text" class="form-control">
                </div>
            </div> 
            <div class="form-group row">
                <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                <span id="textHelpBlock" class="form-text text-muted">Please only fill up the fields you want to update.</span>
                </div>
            </div>
            </form>
    </div>


</div>

{% endblock %}
